.account{
    width: 1100px;
    float: right;
    background-color: beige;
    margin: 50px 250px auto;
    padding: 30px 20px 0 20px;
}
.account>h1{
    text-align: center;
    margin-bottom: 50px;
}
.chuc-nang{
    float: left;
    margin-top: -40px;
}
button.disable{
    display: none;
}
button.add,button.close{
    display: inline;
}

.add-user{
    width: 540px;
    padding-top:40px;
}
.add-user>h1{
    text-align: center;
    margin-bottom: 10px;
}
p.msg-err{
    color: red;
    font-size: small;
    font-family: cursive;
    height: 19px;
} 
div.user-detail{
    width: 600px;
    float: left;
}
input.disable{
    pointer-events: none;
    background-color: rgb(231, 236, 236);
}
button.none{
    display: none;
}
div.edit-button{
    text-align: center;
    margin-right: 80px;
}
.form-detail-user{
    width: 640px;
    list-style: none;
    background-color: rgba(204, 202, 202, 0.9);
    border-radius: 20px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0);
}
div.edit-button>button.huy{
    background-color: rgb(161, 51, 51);
}
button:active{
    outline: none;
}
.chuc-nang>input{
    margin-right:550px ;
    width: 400px;
}
.btn-close{
    float: right;
    margin: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}
button.Add-Account-bnt{
    background-color: rgb(55, 83, 177);
    color: cornsilk;
    font-weight: 800;
    font-size: inherit;
    height: 40px;
    width: auto;
    margin-top: -10px;
    border-radius: 3%;
    outline: none;
}