.product {
    width: 1000px;
    float: right;
    background-color: beige;
    margin: 50px 300px auto;

}

.type-name,
.type-name>h1 {
    margin-top: 20px;
    text-align: center;
    

}
h1{
    font-family: fantasy;
    font-weight: 800;
    margin-bottom: 30px;
}
ul.value-name {
    display: grid;
    grid-template-columns: 16% 16% 18% 18% 25% auto;
    list-style: none;
    width: 820px;
}

ul.value-name>li {
    width: 180px;
    font-weight: bolder;
    margin-left: 40px;
    text-align: center;
}
ul.edit{
    padding: 0 10px 0 10px;
}
a.priceSort{
    color:black;
    margin: 0 0 0 45px;
}
button.Add-product-bnt {
    background-color: rgb(55, 83, 177);
    color: cornsilk;
    font-weight: 800;
    font-size: inherit;
    height: 50px;
    width: 180px;
    margin-top: -10px;
    border-radius: 3%;
    outline: none;

}

ul.info-product {
    display: flex;
    list-style: none;
    border: solid rgb(48, 48, 48);
    height: 50px;
    align-items: center;
    width: 950px;
}
ul.info-product>li {
    width: 150px;
    text-align: center;
    margin-left: 10px;
}

ul.edit {
    /* min-height: 200px; */
    width: 600px;
    margin-top: 50px;
    list-style: none;
    padding-right: 40px;
    background-color: rgb(238, 237, 233);
    border-radius: 20px;
    box-shadow: 3px 5px 7px rgba(185, 95, 95, 0.2);
}

div.form-edit {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}
label{
    font-weight: 1000;
}
ul.edit>div {
    text-align: center;
    height: 50px;
    margin-top: -20px;
}

ul.edit {
    padding-top: 40px;
}

button.xac-nhan,
button.huy {
    width: 200px;
    height: 50px;
    font-family: Courier New, monospace;
    border-style: none;
    font-size: 20px;
    font-weight: 300;
}

button.xac-nhan,button.btn-detail-product {
    background-color: rgb(34, 151, 34);
    margin: auto auto auto 60px;
    
    
}
ul.edit>li>label{
    float: left;
    display: flex;
}
button.huy {
    background-color: rgb(207, 199, 199);
}

input[type=edit],input[type=add] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 20px 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button.edit,button.delete,button.btn-detail-product {
    height: 90%;
    width: 60px;
}
button.delete{
    background-color: crimson;
}
button.edit{
    background-color: darkgoldenrod;
}
div.input-group{
    margin: 50px 0 30px 0;
    align-items: center;
}
.padding{
    margin-bottom: 30px;
    display: flex;
    padding: 0 0 0 40px;
}
.padding>select{
    margin-right: 500px;
}
.search-txt{
    height: 40px;
    width: 380px;
    margin-right: 10px;
}
