.static{
    width: 1400px;
    float: right;
    background-color: beige;
    margin: 50px 110px auto;
    padding: 30px 20px 0 20px;
    height: auto;
}
.static-user-content>img{
    height: 110px;
    width: 110px;
    margin:0 20px 0 900px;
    border-radius: 50%;
}
.static-user-content{
    display: flex;
    justify-content: center;
    text-align: center;
}
.static-user-content>p{
    margin: 40px 0 0 0 ;
    font-size: larger;
}
.static-user-content>p>span{
    color: brown;
}

.static-order{
    float: left;
    width: 60%;
    height:300px;
}
.static-product{
    float: right;
    width: 40%;
    height: 400px;
    
}
.view-1{
    height: 500px;
    width: 100%;
}
h1.sllls{
    display: flex;
    text-align: center;
}
.cls-2020-2019{
    width: 80px;
    height: 50px;
}
.view-0{
    margin: 20px 20px 50px 20px;
}
select.cls-2020-2019{
    margin: 40px 0;
    height: 40px;
}

